---
import ThemeToggle from './ThemeToggle.astro';
import Logo from '../assets/images/logo.svg';
import Button from './ui/Button.astro'

// src/components/Navbar.astro
const currentPath = Astro.url.pathname;
---

<header class="sticky top-0 z-50 w-full border-b border-primary/20 bg-background/80 backdrop-blur-sm flex items-center justify-center">
  <section class="container flex h-16 items-center justify-between">
    <a href="#">
      <figure class="flex items-center gap-2">
        <Logo class='w-40'/>
      </figure>
    </a>
    <nav class="hidden md:flex items-center gap-6">
      <Button variant="secondary" className="text-darkShades hover:text-primary dark:text-lightShades dark:hover:text-primary" href="/">Home
      </Button>
      <Button variant="secondary" className="text-darkShades hover:text-primary dark:text-lightShades dark:hover:text-primary" href="#proyectos">Proyectos
      </Button>
      <Button variant="secondary" className="text-darkShades hover:text-primary dark:text-lightShades dark:hover:text-primary" href="/blog">Blog
      </Button>
      <Button variant="secondary" className="text-darkShades hover:text-primary dark:text-lightShades dark:hover:text-primary" href="/#contact">Contactar
      </Button>
      <Button variant="secondary" className="text-darkShades  dark:hover:text-lightShades dark:text-primary hover:text-lightShades border-2 border-primary hover:bg-primary" href="/documents/Manuel_Maldonado_CV.pdf" target="_blank">Curriculum
      </Button>
    </nav>

    <figure class="flex items-center gap-2">
      <ThemeToggle />
    </figure>
  </section>

  <!-- Menú móvil-->
</header>

