@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🎨 Definimos las variables de color en el root */
:root {
  --color-primary: #9FEF00; /* Verde Neón */
  --color-secondary: #1A1F24; /* Gris oscuro */
  
  /* Modo Claro */
  --color-background-light: #eff5ff;
  --color-text-light: #273141;
  --color-accent-light: #82b1ff;
  --color-border-light: #d1d5db;

  /* Modo Oscuro */
  --color-background-dark: #0a0a0a;
  --color-text-dark: #ededed;
  --color-accent-dark: #1565c0;
  --color-border-dark: #374151;
}

/* 🌞 Estilos por defecto (modo claro) */
body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  font-family: "Inter", Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* 🌙 Modo Oscuro (cuando se activa la clase `dark`) */
.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

/* ✨ Botones con el estilo Hack The Box */
.btn {
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* 🌙 Dark mode para botones */
.dark .btn {
  border-color: var(--color-accent-dark);
  color: var(--color-accent-dark);
}

.dark .btn:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-secondary);
}
